.block {
    position: relative;
    width: fit-content;
    background: var(--box-sidebar-background);
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.block:before,
.block:after {
    border-radius: 10px;
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #00f6ef, #050615, #060b27, #133d4e, #a9a9a9, #1ff7f2, #256cf2);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
}

@keyframes steam {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.block:after {
    filter: blur(50px);
}