.content-main {
    border-radius: 0.25rem;
    background-color: #dadada;
    padding: 30px;
    height: 100%;
    color: white;
}

h3 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
    margin-top: 0;
}

::ng-deep ngb-accordion.accordion .card {
    background-color: var(--box-sidebar-background) !important;
}

@media (max-width: 767px) {
    .mobi {
        display: block;
    }

    table {
        width: 100%;
    }

    th,
    td {
        padding: 10px;
        border-bottom: 1px solid black;
        background-color: #002c42;
        color: #dadada;
        font-family: "Prototype";
    }
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
        padding-bottom: 8%;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: pre-wrap;
        font-size: 14px;
        font-weight: bold;
    }

    /*
	Label the data
	*/
    td:nth-of-type(1):before {
        content: "Transaction";
    }

    td:nth-of-type(2):before {
        content: "Crée le";
    }

    td:nth-of-type(3):before {
        content: "Statuts de transactions";
    }

    td:nth-of-type(4):before {
        content: "Type de Transaction";
    }

    td:nth-of-type(5):before {
        content: "Description";
    }

    td:nth-of-type(6):before {
        content: "Solde avant";
    }

    td:nth-of-type(7):before {
        content: "Montant";
    }

    td:nth-of-type(8):before {
        content: "Solde actuel";
    }
}

.pagination {
    display: flex;
}

.navv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    border-radius: 50px;
    border: 1px solid #9c9c9c;
    height: 40px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--header-background);;
    margin-bottom: 40px;
}

.page-title {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 auto;
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37px;
}

.bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

th {
    text-align: center;
    background-color: var(--text-primary);
}

th {
    text-align: center;
}

.empty-text {
    text-align: center;
    font-weight: bold;
    color: #121c29;
}

.page-link {
    color: var(--text-primary);
}

.transaction {
    height: 148px;
}

::ng-deep .btn-link {
    font-weight: 400;
    color: var(--text-primary) !important;
    text-decoration: none !important;
    font-family: "Prototype" !important;
}

::ng-deep .btn-check:focus+.btn,
.btn:focus {
    box-shadow: 0 0 0 0.25rem #f7a50063 !important;
}

::ng-deep .btn-link:hover {
    color: #fff !important;
}

@media (min-width: 992px) {
    .content-main.touch-left.bg {
        height: calc(100vh - 100px);
        overflow-y: scroll;
    }
}

::ng-deep ngb-accordion.accordion .card {
    margin-bottom: 10px !important;
}