<div class="wrapper">
    <nav class="sidebar">
        <div class="scrolling-part">
            <ul  class="list-unstyled menu-elements" scrollable>
                <li class="" >
                    <a class="scroll-link d-flex justify-content-between" routerLink="/home" routerLinkActive="activenav">
                        <div><i class="fas fa-home"></i> <span>Home</span></div>
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </li>
                <li class="" >
                    <a class="scroll-link d-flex justify-content-between"[routerLink]="'prelive'">
                        <div><i class="fa-regular fa-futbol"></i> <span>Sport</span></div>
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </li>
                <li class="" >
                    <a class="scroll-link d-flex justify-content-between" [routerLink]="'Livebetting'">
                        <div><i class="fa-solid fa-video"></i> <span>Live Sport</span></div>
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </li>
                <li class="" >
                    <a class="scroll-link d-flex justify-content-between" [routerLink]="'games/casino'">
                        <div><i class="fa-solid fa-dice"></i> <span>Casino</span></div>
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </li>

                <li class="" >
                    <a class="scroll-link d-flex justify-content-between" [routerLink]="'games/live-casino'">
                        <div><i class="fa-solid fa-desktop"></i> <span>Live Casino</span></div>
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </li>

                <li class="" >
                    <a class="scroll-link d-flex justify-content-between" [routerLink]="'mini-games'">
                        <div><i class="fa-solid fa-rocket"></i> <span>Mini Games</span></div>
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </li>

            



            </ul>
               
        </div>
    </nav>
</div>