<div class="container">
  <div class="plans ">
    <label class="plan basic-plan d-flex" for="complete">
      <input type="radio" name="en" id="en" />
      <div class="plan-content">
        <img loading="lazy" src="https://cdn-icons-png.flaticon.com/512/197/197484.png" alt="" />
        <div class="plan-details">
          <span>English</span>
        </div>
      </div>
    </label>

    <label class="plan basic-plan d-flex" for="complete">
      <input type="radio" id="fr" name="fr" checked />
      <div class="plan-content">
        <img loading="lazy" src="https://cdn-icons-png.flaticon.com/512/197/197560.png" alt="" />
        <div class="plan-details">
          <span>Français</span>
        </div>
      </div>
    </label>

    <label class="plan basic-plan d-flex" for="complete">
      <input type="radio" id="ar" name="ar" />
      <div class="plan-content">
        <img loading="lazy" src="https://cdn-icons-png.flaticon.com/512/197/197624.png" alt="" />
        <div class="plan-details">
          <span>العربية </span>
        </div>
      </div>
    </label>




  </div>

</div>