
<div class="container-fluid body-content slider-height" style="padding-left:0px;padding-right:0px">
    <main id="turbogamePage" style=" background: linear-gradient(0deg, rgba(20, 110, 81, 0.1), rgba(20, 110, 81, 0.1)),url({{urlimagebg}}) !important;background-size: cover;
    background-repeat: no-repeat; ">
        <div id="pageContent" class="opened">
            <div id="turbogameBoxes">
                <div class="container">
                    <div class="box box-1">
                        <div class="box-content">
                            <div class="sys-game mb-4">
                                <i class="provider-o spribe hidden"></i>
                                <img src="https://easybet.tn/assets/melbet-zeppelin.png" alt="zeep" class="game-image">
                                <a  class="play-sys-game real hidden"></a>
                                 <a  class="btn play-now" (click)="openZEep()">Play Now</a>
                                <span>Best Games for You</span>
                            </div>
                        </div>
                    </div>
                    <div class="box box-2">
                        <div class="box-content">
                            <div class="sys-game" onclick="playCasinoGame(41290)">
                                <img src="../../../assets/aviator/b1.webp" alt="game" class="game-image">
                            </div>
                            <div class="sys-game" onclick="playCasinoGame(41290)">
                                <img src="../../../assets/aviator/b2.webp" alt="game" class="game-image">
                            </div>
                            <div class="sys-game" onclick="playCasinoGame(41290)">
                                <img src="../../../assets/aviator/b3.webp" alt="game" class="game-image">
                            </div>
                            <div class="sys-game" onclick="playCasinoGame(41290)">
                                <img src="../../../assets/aviator/b4.webp" alt="game" class="game-image">
                            </div>
                            <div class="sys-game" onclick="playCasinoGame(41290)">
                                <img src="../../../assets/aviator/b5.webp" alt="game" class="game-image">
                            </div>
                            <div class="sys-game" onclick="playCasinoGame(41290)">
                                <img src="../../../assets/aviator/b6.webp" alt="game" class="game-image">
                            </div>
                            <div class="sys-game" onclick="playCasinoGame(41290)">
                                <img src="../../../assets/aviator/b7.webp" alt="game" class="game-image">
                            </div>
                            <div class="sys-game" onclick="playCasinoGame(41290)">
                                <img src="../../../assets/aviator/b8.webp" alt="game" class="game-image">
                            </div>
                            <div class="sys-game" onclick="playCasinoGame(41290)">
                                <img src="../../../assets/aviator/b9.webp" alt="game" class="game-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
