.scrolling-part {
    overflow: hidden;
    padding-top: 1rem;
}

strong {
    font-weight: 500;
}

.sidebar {
    overflow-y: scroll;
}

a {
    text-decoration: none;
    transition: all 0.3s;
}

button:focus {
    outline: 0;
}

/***** Wrapper *****/

.wrapper {
    display: block;
}

.menu {
    color: var(--primary);
    border-radius: 75px;
    border-bottom: var(--primary) solid;
    border-width: 0.1px;
}

.btn:focus {
    outline: 0;
    box-shadow: unset !important
}

.active-menu {
    color: var(--selected);
    background-color: var(--primary);
}

.age {
    width: 35px;
    height: 35px;
    border: 1px solid #01f6ef;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin-left: 45px;

}

/***** Sidebar *****/

.leftbar {
    overflow-x: scroll;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 100%;
    z-index: 999;
    background: var(--header-background);
    color: var(--primary);
    // transition: all 0.4s;
    // box-shadow: 0px 1px 10px rgb(189, 0, 0, 0.5); 
    text-align: left;
    font-weight: 600;
}

.leftbar.active {
    right: 0;
    z-index: 10000;
}

.rightbar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -255px;
    z-index: 999;
    background: var(--header-background);
    color: var(--primary);
    transition: all 0.3s;
    // box-shadow: 0px 1px 10px rgb(189, 0, 0, 0.5);
    text-align: left;
    font-weight: 600;

    .dismiss {
        right: inset !important;
        left: 10px;
    }
}

.rightbar.active {
    right: 0;
    z-index: 10000;
}

.dismiss {
    color: var(--primary);
    width: 35px;
    height: 35px;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: all 0.3s;
    //background: #444;
    border-radius: 4px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}

.dismiss:hover,
.dismiss:focus {
    background: #555;
    color: #fff;
}

.sidebar .logo {
    padding: 10px 20px;
    transition: all 0.3s;
    text-align: center;
}

.sidebar .logo a {
    display: inline-block;
    width: 214px;
    height: 34px;
    background: url(../assets/log2.png) left top no-repeat;
    border: 0;
    text-indent: -999999px;
}

.sidebar ul.menu-elements {
    padding: 10px 0;
    border-bottom: 1px solid #164556;
    transition: all 0.3s;
}

.sidebar ul li a {
    display: block;
    padding: 10px 20px;
    border: 0;
    color: var(--primary);
}

.sidebar ul li a:hover,
.sidebar ul li a:focus,
.sidebar ul li.active>a:hover,
.sidebar ul li.active>a:focus {
    outline: 0;
    background: #555;
    color: #fff;
}

.sidebar ul li a i {
    margin-right: 5px;
}

.sidebar ul li.active>a,
a[aria-expanded="true"] {
    background: #444;
    color: #fff;
}

.sidebar ul ul a {
    background: #444;
    padding-left: 30px;
    font-size: 14px;
}

.sidebar ul ul li.active>a {
    background: #555;
}

.sidebar a[data-toggle="collapse"] {
    position: relative;
}

.sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.sidebar .to-top {
    padding: 20px;
    text-align: center;
}

.sidebar .dark-light-buttons {
    padding: 10px 20px 30px 20px;
    text-align: center;
}


/* sidebar light */

.sidebar.light {
    background: #fff;
    color: #888;
}

.sidebar.light .dismiss {
    background: #ddd;
    color: #888;
}

.sidebar.light .dismiss:hover,
.sidebar.light .dismiss:focus {
    background: #ccc;
    color: #888;
}

.sidebar.light .logo {
    border-color: #eee;
}

.sidebar.light .logo a {
    background-image: url(https://easybet.tn/img/home/orobet.png);
}

.sidebar.light ul.menu-elements {
    border-color: #eee;
}

.sidebar.light ul li a {
    color: #888;
}

.sidebar.light ul li a:hover,
.sidebar.light ul li a:focus,
.sidebar.light ul li.active>a:hover,
.sidebar.light ul li.active>a:focus {
    background: #ccc;
    color: #888;
}

.sidebar.light ul li.active>a,
.sidebar.light a[aria-expanded="true"] {
    background: #ddd;
    color: #888;
}

.sidebar.light ul ul a {
    background: #ddd;
}

.sidebar.light ul ul li.active>a {
    background: #ccc;
}

.sidebar.light a.btn-customized-3 {
    background: #ddd;
    color: #888;
}

.sidebar.light a.btn-customized-3:hover,
.sidebar.light a.btn-customized-3:active,
.sidebar.light a.btn-customized-3:focus,
.sidebar.light a.btn-customized-3:active:focus,
.sidebar.light a.btn-customized-3.active:focus,
.sidebar.light a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active,
.sidebar.light a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    background: #ccc;
    color: #888;
}

.sidebar.light a.btn-customized-4.btn-customized-dark {
    background: #555;
}

.sidebar.light a.btn-customized-4.btn-customized-light {
    background: #eee;
}

.sidebar.light a.btn-customized-4.btn-customized-dark:hover,
.sidebar.light a.btn-customized-4.btn-customized-dark:active,
.sidebar.light a.btn-customized-4.btn-customized-dark:focus,
.sidebar.light a.btn-customized-4.btn-customized-dark:active:focus,
.sidebar.light a.btn-customized-4.btn-customized-dark.active:focus,
.sidebar.light a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active,
.sidebar.light a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    background: #ccc;
    color: #fff;
}

.sidebar.light a.btn-customized-4.btn-customized-light:hover,
.sidebar.light a.btn-customized-4.btn-customized-light:active,
.sidebar.light a.btn-customized-4.btn-customized-light:focus,
.sidebar.light a.btn-customized-4.btn-customized-light:active:focus,
.sidebar.light a.btn-customized-4.btn-customized-light.active:focus,
.sidebar.light a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active,
.sidebar.light a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    background: #ccc;
    color: #fff;
}


/***** Dark overlay *****/

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(19, 61, 78, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}


/***** Content *****/

.content {
    width: 100%;
    transition: all 0.3s;
}

.open-menu {
    position: fixed;
    top: 20px;
    left: 10px;
    z-index: 997;
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.2);
}

.open-menu.btn-customized,
.open-menu.btn-customized:hover,
.open-menu.btn-customized:active,
.open-menu.btn-customized:focus,
.open-menu.btn-customized:active:focus,
.open-menu.btn-customized.active:focus,
.open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
.open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.2);
}


/***** Buttons *****/

a.btn-customized {
    margin-left: 5px;
    margin-right: 5px;
    padding: 0.75rem 1.5rem;
    background: #f35b3f;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    box-shadow: none;
}

a.btn-customized:hover,
a.btn-customized:active,
a.btn-customized:focus,
a.btn-customized:active:focus,
a.btn-customized.active:focus,
a.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    outline: 0;
    background: #cd533d;
    background: rgba(243, 91, 63, 0.7);
    border: 0;
    color: #fff;
    box-shadow: none;
}

a.btn-customized-2 {
    margin-left: 5px;
    margin-right: 5px;
    padding: 0.75rem 1.5rem;
    background: #fff;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 300;
    color: #555;
    box-shadow: none;
}

a.btn-customized-2:hover,
a.btn-customized-2:active,
a.btn-customized-2:focus,
a.btn-customized-2:active:focus,
a.btn-customized-2.active:focus,
a.btn-customized-2.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-2.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    outline: 0;
    background: #ccc;
    background: rgba(255, 255, 255, 0.5);
    border: 0;
    color: #555;
    box-shadow: none;
}

a.btn-customized-3 {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0.75rem 1.5rem;
    background: #444;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    box-shadow: none;
}

a.btn-customized-3:hover,
a.btn-customized-3:active,
a.btn-customized-3:focus,
a.btn-customized-3:active:focus,
a.btn-customized-3.active:focus,
a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    outline: 0;
    background: #555;
    border: 0;
    color: #fff;
    box-shadow: none;
}

a.btn-customized i,
a.btn-customized-2 i,
a.btn-customized-3 i {
    margin-right: 5px;
}

a.btn-customized-4 {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: 0 3px;
    padding: 0;
    background: #444;
    border: 0;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    box-shadow: none;
    text-indent: -999999px;
}

a.btn-customized-4.btn-customized-dark {
    background: #222;
}

a.btn-customized-4.btn-customized-light {
    background: #fff;
}

a.btn-customized-4.btn-customized-dark:hover,
a.btn-customized-4.btn-customized-dark:active,
a.btn-customized-4.btn-customized-dark:focus,
a.btn-customized-4.btn-customized-dark:active:focus,
a.btn-customized-4.btn-customized-dark.active:focus,
a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    outline: 0;
    background: #555;
    border: 0;
    color: #fff;
    box-shadow: none;
}

a.btn-customized-4.btn-customized-light:hover,
a.btn-customized-4.btn-customized-light:active,
a.btn-customized-4.btn-customized-light:focus,
a.btn-customized-4.btn-customized-light:active:focus,
a.btn-customized-4.btn-customized-light.active:focus,
a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    outline: 0;
    background: #555;
    border: 0;
    color: #fff;
    box-shadow: none;
}


/***** General style, all sections *****/

.section-container {
    margin: 0 auto;
    padding-bottom: 80px;
}

.section-container-gray-bg {
    background: #f8f8f8;
}

.section-container-image-bg,
.section-container-image-bg h2,
.section-container-image-bg h3 {
    color: #fff;
}

.section-container-image-bg .divider-1 span {
    border-color: #fff;
    border-color: rgba(255, 255, 255, 0.8);
}

.section-description {
    margin-top: 60px;
    padding-bottom: 10px;
}

.section-description p {
    margin-top: 20px;
    padding: 0 120px;
}

.section-container-image-bg .section-description p {
    opacity: 0.8;
}

.section-bottom-button {
    padding-top: 20px;
}


/***** Divider *****/

.divider-1 span {
    display: inline-block;
    width: 200px;
    border-bottom: 1px dotted #aaa;
}


/***** Top content *****/

.top-content {
    width: 100%;
    padding: 60px 0 120px 0;
}

.top-content h1 {
    padding-top: 60px;
    color: #fff;
}

.top-content .description {
    margin: 30px 0 0 0;
    padding-bottom: 30px;
}

.top-content .description p {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
}

.top-content .description a {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    border-color: #fff;
    border-color: rgba(255, 255, 255, 0.8);
}

.top-content .description a:hover,
.top-content .description a:focus {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
}

.drawer-items {
    list-style: none;
    padding: 0 0 0 22px;
    position: relative;
    overflow: hidden;
}

.scroll-link>i {
    padding-top: 3%;
}

.activenav {
    background-color: var(--header-light-background);
}

.imgsidebar {
    max-width: 50%;
}

.maxage {
    width: 70px !important
}


.side-menu__separator_left {
    width: 5rem;
}

.side-menu__separator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #3f6e83;
    height: 1px;
    position: relative;
}

.side-menu__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1rem;
    color: #fff;
}

.fas {
    font-size: 25px;
}

.side-menu__separator_right {
    width: 5rem;
}

.side-menu__separator_centre {
    width: 100%;
}

.side-menu__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin-top: 2%;
}

.toggle {
    --size: 1.5rem;
    appearance: none;
    outline: none;
    cursor: pointer;
    width: var(--size);
    height: var(--size);
    box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
    border-radius: 999px;
    color: #e6e6ff;
    transition: all 500ms;
}

.toggle:checked {
    --ray-size: calc(var(--size) * -0.4);
    --offset-orthogonal: calc(var(--size) * 0.65);
    --offset-diagonal: calc(var(--size) * 0.45);
    transform: scale(0.75);
    color: #fa0;
    box-shadow: inset 0 0 0 var(--size), calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size), var(--offset-orthogonal) 0 0 var(--ray-size), 0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size), 0 var(--offset-orthogonal) 0 var(--ray-size), calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0 var(--ray-size), var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size), calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size), var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size);
}

.toggle {
    z-index: 1;
}

.eb-main {
    background-color: var(--background);
    height: 100%;
}

.licence,
.gamcar {
    width: 60px;
}

.age-bar {
    width: 35px;
    height: 35px;
    border: 1px solid var(--text-primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: var(--text-primary);
}

.limit {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        color: var(--text-primary);
    }
}

@media (max-width:767px) {
    .eb-main {
        padding-top: 65px;
    }
}

@media(min-width: 993px) {

    ::ng-deep .casino-caro .owl-carousel .owl-item img {
        height: 470px;
        border-radius: 10px
    }

}

@media(max-width: 993px) {

    ::ng-deep .casino-caro .owl-carousel .owl-item img {
        height: 100px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

}

.chat {
    // display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    bottom: 60px;
    z-index: 999;
    right: 118px;
}

@media(max-width: 767px) {
    .chat {
        display: none;
    }
}

@media(min-width: 768px) {
    .chat {
        display: flex;
    }
}