$border-color: #eee;

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
}



table {

    color: $border-color;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    margin-bottom: 100px;
    width: 100%;
    table-layout: fixed;

    caption {
        text-align: left;
        font-size: 1.3em;
        margin: 0.5em 0 0.75em;
    }


    thead {
        display: none;
    }

    tr {
        display: block;
        border: 1px solid $border-color;
        padding: 1em 1em 0.5em;

        & + tr {
            margin-top: 0.625em;
        }
    }

    td {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        font-weight: bold;
        border-bottom: 1px solid $border-color;
        font-size: 0.8em;
        color: white;
        line-height: 1.35em;

        &:before {
            content: attr(data-label);
            font-size: 0.9em;
            text-align: left;
            font-weight: bold;
            text-transform: uppercase;
            max-width: 45%;
            color: var(--primary);
        }

        & + td {
            margin-top: 0.8em;
        }

        &:last-child {
            border-bottom: 0;
        }
    }
}

@media screen and (min-width: 600px) {
    table {
        caption {
            font-size: 1.5em;
        }

        thead {
            display: table-header-group;
        }

        tr {
            display: table-row;
            border: 0;
        }

        th,
        td {
            text-align: center;
            // universal padding
        }

        th {
            font-size: 0.85em;
            text-transform: uppercase;
        }

        td {
            display: table-cell;

            &:before {
                display: none;
            }

            &:last-child {
                border-bottom: 1px solid $border-color;
            }
        }
    }
}

