<div class="container-fluid " style="margin-top:3%">
  <div class="row SLT">
    <div class="" style="text-align:left">
      <div class="row pt-2 pt-lg-3">
        <span class="popu">POPULAR</span>
      </div>
      <div class="row">
        <span class="games-style">
          JEUX
        </span>
      </div>
      <div class="row">
        <span class="description">
          Vivez l'excitation des machines à sous avec les meilleurs fournisseurs !
        </span>
      </div>
    </div>

    <div class="">
      <div class="section-status card">
        <div class="img-container">
          <img src="https://d1b82hscw3e9o2.cloudfront.net/media/images/slots/small/p0/jpg/p0-big-bass-bonanza.jpg"
            alt="" class="imgsizepop">
        </div>
        <div class="text">
          <p class="title">
            Big Bass Bonanza
          </p>
        </div>
      </div>

    </div>
    <div class="">
      <div class="section-status card">
        <div class="img-container">
          <img src="https://d1b82hscw3e9o2.cloudfront.net/media/images/slots/small/pr/jpg/pr-sweet-bonanza.jpg" alt=""
            class="imgsizepop">
        </div>
        <div class="text">
          <p class="title">
            Sweet Bonanza
          </p>
        </div>
      </div>

    </div>
    <div class="">
      <div class="section-status card">
        <div class="img-container">
          <img src="https://d1b82hscw3e9o2.cloudfront.net/media/images/slots/small/pr/jpg/pr-chilli-heat.jpg" alt=""
            class="imgsizepop">
        </div>
        <div class="text">
          <p class="title">
            Chilli Heat
          </p>
        </div>
      </div>

    </div>
    <div class="">
      <div class="section-status card">
        <div class="img-container">
          <img src="https://d1b82hscw3e9o2.cloudfront.net/media/images/slots/small/p0/jpg/p0-starlight-princess.jpg"
            alt="" class="imgsizepop">
        </div>
        <div class="text">
          <p class="title">
            Starlight Princess
          </p>
        </div>
      </div>

    </div>
    <div class="">
      <div class="section-status card">
        <div class="img-container">
          <img src="https://d1b82hscw3e9o2.cloudfront.net/media/images/slots/small/pr/jpg/pr-aztec-bonanza.jpg" alt=""
            class="imgsizepop">
        </div>
        <div class="text">
          <p class="title">
            Aztec Bonanza
          </p>
        </div>
      </div>

    </div>
    <div class="">
      <div class="section-status card">
        <div class="img-container">
          <img src="https://d1b82hscw3e9o2.cloudfront.net/media/images/slots/small/p0/jpg/p0-gates-of-olympus.jpg"
            alt="" class="imgsizepop">
        </div>
        <div class="text">
          <p class="title">
            Gates of olympus
          </p>
        </div>
      </div>

    </div>
  </div>
</div>