.SquareGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-content: center;
    width: 100%;
    grid-gap: 15px;
    padding-bottom: 35px;
}

.show-all {
    width: 40px;
    height: 40px;
    background: var(--box-sidebar-background);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #03f1ed;
}

.image {
    border-radius: 10px;
    width: 123px;
    height: 120px;
    object-fit: cover;
  }

@media (max-width:767px){
    .SquareGrid {
    grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:992px){
    .txt-prov{
        font-size:16px
    }
    .txt-cont {
        font-size:16px  
    }
}
@media screen and (min-width:993px){
    .txt-prov{
        font-size:22px
    }
    .txt-cont {
        font-size:22px  
    }
}
.txt-prov{
    color:var(--text-dark);
}
.txt-cont {
    color:var(--selected-nav);
}