<!-- Footer Start -->
<div class="footer">
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="footer-about">
                    <div class="logo">
                        <img src="../../../assets/easybet.png" alt="logo" class="img-log-ft">
                    </div>
                    <div class="d-flex align-items-center pt-3">
                        <div
                            style="text-align: center;width: 100%;    background-color: var(--box-sidebar-background);border-radius:20px;height:30px; display: flex;    align-items: center;">
                            <div class="age">+21</div> <span> Jouez de manière responsable</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center" style="gap: 10px;justify-content: center;padding-top: 22px;">
                        <div class="licence">
                            <div id="apg-b2d3445b-f54d-4ee8-a1b1-6cf883490cf7"
                                data-apg-seal-id="b2d3445b-f54d-4ee8-a1b1-6cf883490cf7" data-apg-image-size="256"
                                data-apg-image-type="basic-light-large"></div>
                        </div>
                        <div class="gamcar">
                            <img src="../../../assets/img/gamcare.svg" alt="logo" width="100%">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="row"
                    style="display: grid;align-items: center;justify-content: center;grid-template-columns: 1fr 1fr 1fr 1fr 1fr;">
                    <img src="../../../assets/footer img/137.webp" alt="red" class="im">
                    <img src="../../../assets/footer img/138.webp" alt="play" class="im">
                    <img src="../../../assets/footer img/139.webp" alt="netgame" class="im">
                    <img src="../../../assets/footer img/141.webp" alt="evoplay" class="im">
                    <img src="../../../assets/footer img/142.webp" alt="evolution" class="im">
                    <img src="../../../assets/footer img/144.webp" alt="gaming" class="im">
                    <img src="../../../assets/footer img/146.webp" alt="vivo" class="im">
                    <img src="../../../assets/footer img/156.webp" alt="haba" class="im">
                    <img src="../../../assets/footer img/157.webp" alt="ka" class="im">
                    <img src="../../../assets/footer img/172.webp" alt="spribe" class="im">
                    <img src="../../../assets/footer img/173.webp" alt="iron" class="im">
                    <img src="../../../assets/footer img/174.webp" alt="golden race" class="im">
                    <img src="../../../assets/footer img/Netent-logo.webp" alt="Netent" class="im">

                </div>
            </div>
        </div>
    </div>
    <div class="container footer-menu">
        <div class="f-menu">
            <a href="">Terms of use</a>
            <a href="">Privacy policy</a>
        </div>
    </div>
    <div class="container copyright">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; <a href="https://easybet.tn">EASYBET</a>, All Right Reserved.</p>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->