<div class="boxio">
    <div class="row items-spacing">
        <div class="col-lg-4 col-sm-6 col-xs-12 pb-3 pb-lg-0 py-4">
            <div class="sport-banner ng-star-inserted mouseout" [routerLink]="'/prelive'" tabindex="0">
                <div class="shine"></div>
                <div class="banner-text banner-text6">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12 pb-3 pb-lg-0 py-4">
            <div class="sport-banner ng-star-inserted mouseout" [routerLink]="'/Livebetting'" tabindex="0">
                <div class="shine"></div>
                <div class="banner-text">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12 pb-3 pb-lg-0 py-4">
            <div class="sport-banner ng-star-inserted mouseout" [routerLink]="'/games/casino'" tabindex="0">
                <div class="shine"></div>
                <div class="banner-text banner-text5">
                </div>
            </div>
        </div>

        <!-- <app-slider-games></app-slider-games> -->

        <div class="col-lg-4 col-sm-6 col-xs-12 pb-3 pb-lg-0 py-4">
            <div class="sport-banner ng-star-inserted mouseout" [routerLink]="'/games/live-casino'" tabindex="0">
                <div class="shine"></div>
                <div class="banner-text banner-text2">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12 pb-3 pb-lg-0 py-4">
            <div class="sport-banner ng-star-inserted mouseout" [routerLink]="'/mini-games'" tabindex="0">
                <div class="shine"></div>
                <div class="banner-text banner-text4">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12 pb-3 pb-lg-0 py-4">
            <div class="sport-banner ng-star-inserted mouseout" [routerLink]="'/games/virtual'" tabindex="0">
                <div class="shine"></div>
                <div class="banner-text banner-text3">
                </div>
            </div>
        </div>
    </div>

</div>